.watchlist {
    @extend .main;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    &__label {
        @include center;
        flex-direction: column;
        margin-top: 2rem;

        h2 {
            letter-spacing: .1rem;
            font-weight: 400;
        }
     
        p {
            font-size: $base-font-size;
            color: $text-lighter;
            margin-top: .3rem;
        }
    }

    &__container {
        @extend .main__container;
    }

    &__list {
        @extend .movielist;
    }
}
