.genres {
    width: 100%;

    &__menu {
        @include center;
        font-size: $font-size-lg;
        width: 100%;

        span {
            letter-spacing: 0.1rem;
            width: 12rem;
            text-align: center;
            font-weight: 400;
            @include mobile {
                width: 10rem;
            }
        }
    }

    &__button {
        margin-left: $base-margin * 2;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        transition: 0.5s all ease;

        &.open {
            transform: rotateX(180deg);
        }

        @include mobile {
            margin-left: .5rem;
        }
    }

    &__container {
        margin-top: 1rem;
        display: flex;
        height: auto;
        max-height: 0;
        transition: max-height 0.5s ease-out;

        &.open {
            max-height: 600rem;
            transition: max-height 0.25s ease-in;
        }

        .genrelist {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            .genre {
                height: 2rem;
                margin: 0.5rem;
                background-color: lighten($bg-body, 5%);
                padding: 0.5rem 1rem;
                border-radius: 5px;
                border: 1px solid lighten($bg-body, 5%);
                font-size: $font-size-sm;
                color: $text-lighter;
                opacity: 0;
                transition: opacity 0.5s, transform 0.5s ease-in-out;
                transform: rotateX(90deg);

                &:hover {
                    color: $primary;
                    border: 1px solid $primary;
                    cursor: pointer;
                }
                &.open {
                    opacity: 1;
                    transform: rotate(0);
                }
            }
        }
    }
}
