.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-gap: 20px;
    justify-content: center;

    @include phone {
        grid-template-columns: repeat(2, 150px);
    }

    @include tablet {
        grid-template-columns: repeat(3, 150px);
    }


  }