$text-link: #2997ff;
$text-color: #e9e9e9;
$text-light: #b9b9b9;
$text-lighter: #8a8a8a;

$primary: #f1a93b;
$secondary: #3a3a3a;

$background: #141414;


@mixin va {
    display: flex;
    justify-content: center;
    align-items: center;
}