// body background color
$bg-body: #141414;

// theme colors
$primary: #f1a93b;
$red: #E53935;
$text: #e9e9e9;
$text-light: darken($text, 20%);
$text-lighter: darken($text, 40%);

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 5px;
$border-radius-rounded: 50%;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);

// font-size
$base-font-size: 1rem;
$font-size-sm: $base-font-size * 0.75;
$font-size-md: $base-font-size * 1.25;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
$font-size-xxl: $base-font-size * 3;
