@import "./media_queries.scss";

.movie-page{
    padding-top: 100px;
    
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        
        .heading{
            margin: 0;
        }

        .count-pill {
            display: block;
            background: $secondary;
            padding: 5px 15px;
            font-size: 18px;
            font-weight: 600;
            border-radius: 999px;
            color: $primary;
          }
    }

    .no-movies {
        display: block;
        color: $text-lighter;
        width: 100%;
        height: 100%;
        text-align: center;
        margin-top: 150px;
    }

    
}